[utuputki]

# Server port
PORT=8000

# Current timezone.
TIMEZONE=Europe/Helsinki

# Only set on development boxes.
DEBUG=False

# Database access string. See SQLAlchemy for more info
DATABASE_CONFIG=mysql://username:password@localhost/databasename

# AMQP broker url. See RabbitMQ configuration for more info.
AMQP_URL=amqp://guest:guest@localhost:5672/utuputki

# 0 = Debug
# 1 = Info
# 2 = Warning
# 3 = Error
# 4 = Critical
LOG_LEVEL=1

# Note that the directory must exist!
# If DEBUG = True, this will be ignored and errors go to stdout.
LOG_FILE=/var/log/utuputki/utuputki-ui.log