<div class="col-sm-12">
    <h2>History</h2>
</div>
<div class="col-sm-12 queue_add_block">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <form class="input-group">
                <span class="input-group-btn submit-button">
                    <button class="btn btn-default" type="submit" ng-click="export()">Export</button>
                </span>
            </form>
        </div>
    </div>
</div>
<div class="col-sm-12 queue_show_block">
    <div class="queue_info" ng-if="grid_opts.data">
        <div ui-grid="grid_opts" ui-grid-auto-resize ng-style="getTableHeight()" class="queue_grid"></div>
    </div>
</div>