<div class="col-sm-12">
    <h2>My source queue</h2>
</div>
<div class="col-sm-12 queue_add_block">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div ng-if="error" class="alert alert-danger" role="alert">{{ error }}</div>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" ng-model="add_model.url" placeholder="Media url ...">
                <span class="input-group-btn submit-button">
                    <button class="btn btn-default" type="button" ng-click="add_media()">Add</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 queue_show_block">
    <div class="queue_info" ng-if="grid_opts.data">
        <div ui-grid="grid_opts" ui-grid-auto-resize ng-style="getTableHeight()" class="queue_grid"></div>
    </div>
</div>