
h1,h2,h3,h4,h5,p,td,th,span {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin-top: 0px;
  font-size: 1.4em;
}

.queue_add_block {
  margin-top: 25px;
}

.queue_show_block {
  margin-top: 25px;
}

// Overwrite bootstrap
.alert {
  padding: 8px;
}